{% extends "base.html" %}

{% block "title" %}Įrašas{% endblock %}
{% block "content" %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
             <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date | date:"Y-m-d, f" }}</small>
            <h2>{{ post.title }}</h2>
            <p class="class-content">{{ post.content | safe }}</p>
            <p>Comments: {{ post.comments_count }}</p>
            {% for comment in post.comments.all %}
            <small class="text-muted">{{ comment.author }}, {{ comment.date | date:"Y-m-d, f" }}</small>
            <p>{{ comment.content }}</p>
            {% endfor %}
        </div>
    </div>
</article>
<hr>
{% endblock %}