{% extends "base.html" %}

{% block "title" %}Įrašas{% endblock %}
{% block "content" %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
             <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date | date:"Y-m-d, f" }}</small>
            <h2>{{ post.title }}</h2>
            <p class="class-content">{{ post.content | safe }}</p>
            <p>Comments: {{ post.comments_count }}</p>
            {% if user.is_authenticated %}
            <div class="fieldWrapper">
                <hr><br/>
                <h1>Palikite komentarą</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.content }}<br/>
                    <input type="submit" value="Paskelbti">
                </form>
            </div>
            {% endif %}
            {% for comment in post.comments.all %}
            <small class="text-muted">{{ comment.author }}, {{ comment.date | date:"Y-m-d, f" }}</small>
            <p>{{ comment.content | safe }}</p>
            {% endfor %}
        </div>
    </div>
</article>
<hr>
{% endblock %}