{% extends "base.html" %}

{% block "title" %}Tavo komentarai{% endblock %}
{% block "content" %}
{% if comments %}
{% for comment in comments %}
<p><a href="{% url 'post' comment.post.pk %}">Įrašas: {{ comment.post.title }}</a></p>
<small class="text-muted">{{ comment.author }}, {{ comment.date | date:"Y-m-d, f" }}</small>
<p>{{ comment.content | safe }}</p>
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment_update' comment.pk %}">Redaguoti</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment_delete' comment.pk %}">Ištrinti</a>
</div>
<hr>
{% endfor %}
{% else %}
<p>Komentarų dar nėra</p>
{% endif %}
{% endblock %}